body {
    background: linear-gradient(to bottom, #fa1788, #ff6699);
            font-family: Arial, sans-serif;
}

.container {
    margin-top: 100px;
}

.transfer-new-contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
}

h1 {
    color: #ff6699;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #ff6699;
    border-color: #ff6699;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #ff3366;
    border-color: #ff3366;
}

.btn-secondary {
    background-color: #c21078; 
    border-color: #880f37; 
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #640d36; 
    border-color: #9c2556; 
}

.form-group label {
    color: #e70c0c;
}

.form-control {
    border-color: #ccc;
}

.form-control:focus {
    border-color: #ff6699; 
}
